
.bah{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider{
  width: 1800px;
  height: 400px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 400px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 1800px;
  height: 400px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 1688px;
  margin-top: -40px;
  display: flex;
  justify-content:center;
}

.manual-btn{
  border: 2px solid #fca311;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #fca311;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 1688px;
  justify-content: center;
  margin-top: 360px;
}

.navigation-auto div{
  border: 2px solid #fca311;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #fca311;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #fca311;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #fca311;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #fca311;
}
/*-----------------------------------------fim do slider-------------------------------------------*/
.barrapreta1{
  position: absolute;
  left: 1px;
  top: 105px;
  background-color: black;
  width: 1687px;
  height: 2px;
}
.barrapreta2{
  position: absolute;
  left: 1px;
  top: 505px;
  background-color: black;
  width: 1687px;
  height: 2px;
}
.promoçoes{
  flex-direction: row;
  display: flex;
  justify-content: center;
}
.barramarela{
  position: absolute;
  left: 750px;
  top: 565px;
  background-color: #fca311;
  width: 180px;
  height: 2px;
}
.opa{
  position: absolute;
  left: 760px;
  top: 520px;
  width: 110px;
  height: 64px;
  font-size: 40px;

}
/* --------------------------- card produto ------------------------ */
.ladinho {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.corpinho {
  margin-right: 200px;
}

.card {
  border: #fca311 2px solid;
  position: relative;
  left: 50px;
  width: 320px;
  height: 420px;
  background-color: whitesmoke;
  margin-left: 30px;
  border-radius: 20px;
  overflow: hidden;
}

.card:before {
  content: '';
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
}

.img_produto1 {
  width: 80%;
  position: absolute;
  right: 100px;
  padding-top: 28px;
  z-index: 1;
}

.tamanho {
  height: 380px;
  position: absolute;
  left: 35px;
}

h6 {
  position: absolute;
  top: 385px;
  font-size: 1.2rem;
  left: 80px;
}

.tamanho2 {
  width: 120%;
  height: 380px;
  left: -20px;
  position: absolute;
  left: px;
}
h5 {
  position: absolute;
  top: 385px;
  font-size: 1.2rem;
  left: 100px;
}
.tamanho3 {
  width: 90%;
  height: 380px;
  left: 20px;
  position: absolute;
  left: px;
}
h6{
  position: absolute;
  top: 385px;
  font-size: 1.2rem;
  left: 120px;
}
/* =========================================================================== */

/* ====================================================================================== */



















.img_bateria{
    -webkit-animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    height: 100px;
    width: 170px;
}

@-webkit-keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  @keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  
.img_guitarra{
    height: 150px;
    width: 170px;
    -webkit-animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}
@-webkit-keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  @keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  
.img_piano{
    height: 170px;
    width: 230px;
    -webkit-animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    
}
@-webkit-keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  @keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  
.img_sax{
    height: 130px;
    width: 180px;
    -webkit-animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    
}
@-webkit-keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  @keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  