.bah{
  margin: 0;
  padding: 0;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #fca311;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #fca311;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #fca311;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #fca311;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #fca311;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #fca311;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #fca311;
}























.img_bateria{
    -webkit-animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    height: 100px;
    width: 170px;
}

@-webkit-keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  @keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  
.img_guitarra{
    height: 150px;
    width: 170px;
    -webkit-animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}
@-webkit-keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  @keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  
.img_piano{
    height: 170px;
    width: 230px;
    -webkit-animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    
}
@-webkit-keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  @keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  
.img_sax{
    height: 130px;
    width: 180px;
    -webkit-animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: slide-rotate-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    
}
@-webkit-keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  @keyframes slide-rotate-hor-top {
    0% {
      -webkit-transform: translateY(0) rotateX(0deg);
              transform: translateY(0) rotateX(0deg);
    }
    100% {
      -webkit-transform: translateY(-150px) rotateX(-90deg);
              transform: translateY(-150px) rotateX(-90deg);
    }
  }
  